<nav *ngIf="requestHolder">
    <ul class="pagination pagination-sm mb-0 justify-content-center">
        <li class="page-item" [class.disabled]="!hasPrev">
            <button class="page-link" (click)="requestHolder.page = 0">
                <fa-icon [icon]="faBackward"></fa-icon>
            </button>
        </li>
        <li class="page-item" [class.disabled]="!hasPrev">
            <button class="page-link" (click)="requestHolder.advancePage(-1)">
                <fa-icon [icon]="faCaretLeft"></fa-icon>
            </button>
        </li>
        <li class="page-item" [class.active]="requestHolder.page === (i - 1)" *ngFor="let i of paginationPages">
            <button class="page-link" (click)="requestHolder.page = (i - 1)">{{i}}</button>
        </li>
        <li class="page-item" [class.disabled]="!hasNext">
            <button class="page-link" (click)="requestHolder.advancePage(1)">
                <fa-icon [icon]="faCaretRight"></fa-icon>
            </button>
        </li>
        <li class="page-item" [class.disabled]="!hasNext">
            <button class="page-link" (click)="requestHolder.page = (componentWithTableData.getTableData().matchingPages - 1)">
                <fa-icon [icon]="faForward"></fa-icon>
            </button>
        </li>
    </ul>
</nav>

