<div class="bg-primary text-light" style="padding: 6em 0">
    <div class="container mb-4">
        <h1>Guide</h1>
        <p class="lead">What do the scores mean?</p>
    </div>
</div>
<div class="bg-white" style="padding: 6em 0">
    <div class="container mb-4">
        <div class="mb-5">
            <h4>Average Grade</h4>
            <p>
                This one is easy. It's just the average grade from the course.
            </p>
        </div>
        <div class="mb-5">
            <h4>Average Grade Percentile</h4>
            <p>
                All courses are ranked against each other based on average grade.
            </p>
        </div>
        <div class="mb-5">
            <h4>Percent passed</h4>
            <p>
                The percentage of people who attended the exam that passed.
            </p>
        </div>
        <div class="mb-5">
            <h4>Course Rating Percentile</h4>
            <p>
                All course are ranked based on the question "Overall I think the course is good" from course reviews.
            </p>
        </div>
        <div class="mb-5">
            <h4>Workscore Percentile</h4>
            <p>
                Ranked based on the question "5 points are allocated to 9h./week (45 h./week in the 3-week period). I
                think my workload in the course is [Much less..Much more]"
            </p>
        </div>
        <div>
            <h4>Lazyscore</h4>
            <p>
                The average percentile between percent passed and workload. This is a metric for how much beer one can
                drink during a semester and still get decent grades. 🍺🍺🍺
            </p>
        </div>
    </div>
</div>
